# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
management.pro.user
deployment.pri

testing/build-gtest-Desktop_Qt_5_5_0_GCC_64bit-Debug/*
testing/build-tests-Desktop_Qt_5_5_0_GCC_64bit-Debug/*
management.pro.user.18
management.pro.user.3.2-pre1
testing/gtest/gtest.pro.user
testing/tests/tests.pro.user
testing/tests/tests.pro.user.18
testing/tests/tests.pro.user.3.2-pre1
